div {
  width: 100%;
  background: #000000;
  padding: 20px 10px;
  box-sizing: border-box;
  text-align: center;
  // line-height: 50px;
}
p {
  margin: 0;
  color: rgb(214, 214, 214);
}
a {
  text-decoration: none;
  color: #f85dfd;
}

// @media (max-width: 600px) {
//   * {
//     font-size: 0.5rem;
//   }
// }
