<mat-toolbar>
  <a id="logo" routerLink="/" mat-button>
    <img src="../../assets/icon.png" alt="" width="36" height="36" />
    <span id="halasat-tv">HALASAT TV</span>
  </a>
  <span class="fill-remaining-space"></span>
  <a
    id="halasat-cinema-link"
    color="link"
    mat-button
    href="http://halasat.vodu.me"
    target="_blank"
  >
  <mat-icon>theaters</mat-icon>
  VODU
  </a>
  <a id="halasat-share-link" mat-button color="link" href="http://share.halasat.net" target="_blank">
    <mat-icon>backup</mat-icon>
    SHARE
  </a>
</mat-toolbar>
