#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #2196f3;
  height: 90%;
  font-size: 1.3rem;
}

#halasat-tv {
  margin-left: 10px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

#halasat-cinema-link {
  color: rgb(0, 211, 105);
}
#halasat-share-link {
  color: red;
}

@media (max-width: 600px) {
  #logo {
    font-size: 0.8rem;
  }
  #halasat-cinema-link,
  #halasat-share-link,
  #halasat-iptv-link {
    font-size: 0.5rem;
  }
  img {
    width: 16px;
    height: 16px;
  }
}
