mat-toolbar {
  background: #111;
}
#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: white;
  height: 90%;
  font-size: 1.3rem;
}

.divider {
  display: inline-block;
  background-color: white;
  width: 1px;
  height: 20px;
  margin-left: 10px;
}

.beta {
  padding-top: 15px;
  font-size: 0.6rem;
  color: #ddb747;
}

#halasat-tv {
  margin-left: 10px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

#halasat-cinema-link {
  color: white;
}
#halasat-share-link {
  color: white;
}
#halasat-iptv-link {
  color: white;
}

@media (max-width: 600px) {
  #logo {
    font-size: 0.8rem;
  }
  #halasat-cinema-link,
  #halasat-share-link,
  #halasat-iptv-link {
    font-size: 0.5rem;
  }
  img {
    width: 16px;
    height: 16px;
  }
}
