<mat-toolbar>
  <img src="../../assets/icon.png" alt="" width="36" height="36" />
  <span id="halasat-tv">HalaSat TV</span>
  <span class="fill-remaining-space"></span>
  <a
    id="halasat-cinema-link"
    color="link"
    mat-mini-fab
    href="http://halasat.vodu.me"
    target="_blank"
  >
    <img
      id="cinema-icon"
      src="../../assets/cinema-icon.png"
      alt=""
      width="24"
      height="24"
    />
  </a>
  <a mat-mini-fab color="link" href="http://share.halasat.net" target="_blank">
    <img
      id="share-icon"
      src="../../assets/share-icon.png"
      alt=""
      width="24"
      height="24"
    />
  </a>
</mat-toolbar>
