<mat-toolbar>
  <a id="logo" routerLink="/" mat-button>
    <img class="logo-image" src="../../assets/logo.png" alt="" height="36" />
    <span class="divider"></span>
    <span id="halasat-tv">LIVE TV</span>
    <sub class="beta">BETA</sub>
  </a>
  <span class="fill-remaining-space"></span>
  <a
    id="halasat-cinema-link"
    color="link"
    mat-button
    href="/android.apk"
    target="_blank"
  >
    <mat-icon>android</mat-icon>
    ANDROID APK
  </a>
  <div></div>
  <a
    id="halasat-iptv-link"
    mat-button
    color="link"
    href="/iptv.zip"
    target="_blank"
  >
    <mat-icon>tv</mat-icon>
    IPTV
  </a>
</mat-toolbar>
