<div class="row" *ngIf="channels">
  <label>{{ category }}</label>
  <div class="cards-container">
    <app-channel-card
      *ngFor="let channel of channels"
      [data]="channel"
    ></app-channel-card>
  </div>

  <!-- <owl-carousel
    [options]="{
      responsive: owlRspObject,
      margin: 5,
      dots: false,
      navigation: true,
      autoplay: true,
      loop: true
    }"
    [items]="channels"
    [carouselClasses]="['owl-theme', 'row', 'sliding']"
  >
    <app-channel-card
      *ngFor="let channel of channels"
      [data]="channel"
    ></app-channel-card>
  </owl-carousel> -->
</div>
